<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
    <div class="main">
        <div class="header">
            <a href="/">
                <img src="/public/img/logo3.png" alt="">
            </a>
            <h1>用户登录</h1>
        </div>
        <form id="signin_form">
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <a class="pull-right" href="">忘记密码？</a>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
          <input type="checkbox">记住我
        </label>

        
            </div>
            <button type="submit" class="btn btn-success btn-block">登录</button>
        </form>
        <div class="message">
            <p>没有账号? <a href="/signup">点击创建</a>.</p>
        </div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        //1.点击发送按钮发送一个请求，获取元素
        $('#signin_form').on('submit', function(e) {
            //2.取消表单中的默认事件
            e.preventDefault();
            //3.获取表单中的数据
            var formData = $(this).serialize();
            console.log(formData);
            //4.发送post请求
            $.post('/signin', formData, function(data) {
                //data是后台返回的数据
                // console.log(data);
                //根据后台返回的数据，实现页面的跳转
                if(data.code == 200) {
                    //如果code是200，表示登录成功，页面进行跳转到话题页
                    location.href = '/';
                }else {
                    alert(data.message);
                }
            });
        })
        
    </script>
</body>

</html>